/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	height: 100%;
	width: 100%;
}

.mobile {
	display: none;
}

/* 	======================
		TYPOGRAPHY
	======================*/

ul {
	padding: 5px;
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
}

a {
	padding: 5px;
}

h2{
	font-family: 'Halant', serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 43px;
	color: rgba(0,0,0,0.4);
}

h1,
#archive:link,
#archive:visited {
	font-family: 'Rubik', serif;
	font-weight: 300;
	font-size: 14px;
	text-decoration: none;
}

.header h2 {
	font-weight: 600;
}

h2.date {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

h2.description,
h2.about {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	color: black;
}

.p1,
.p2,
.p3 {
	font-family: 'Halant', serif;
	font-size: 36px;
	text-align: center;
	background-color: rgba(255,255,255,0);

}


.id1-content p {
	width: 95%;
	margin-top: 10px;
	margin-left: 2.5%;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
}

p.section-heading {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: red;
}

/* 	======================
		ABOUT
	======================*/


#name {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 100;
}

#question,
#question-close {
	position: fixed;
	top: 0px;
	right: 10px;
	padding:10px;
	z-index: 100;
}

#question-close {
	display: none;
}

#question:hover,
#question-close:hover,
#archive:hover {
	color: red;
	cursor: pointer;
}

#top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid red;
	/*background-color: white;*/
	z-index: 50;
}

#about-desc {
	position: fixed;
	top:100px;
	bottom: 0px;
	width: 95%;
	left: 2.5%;
	text-align: center;

	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: 36px; 
	line-height: 50px;
	color: red;
	display: none;
	z-index: 300;
}

#about-desc a {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-style: italic;
	font-size: 36px; 
	line-height: 50px;
	color: red;
}

.work-links {
	/*display: inline-block;*/
}


/* 	======================
		THREE COLUMN
	======================*/

.three-column {
	position: fixed;
	top: 34px;
	bottom: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
	height: 100%;
	width: 100%;
	background-image: url("../img/watermark-01.png");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.p1,
.p2,
.p3 {
	width: 33%;
	overflow-y: scroll;

}

.p1 h1,
.p2 h1,
.p3 h1 {
	padding-top: 30px;
	padding-bottom: 20px;
	width: 33%;
	font-family: 'Halant', serif;
	font-size: 20px;
	color: rgba(0,0,0,1);
	background-color: rgba(255,255,255,0);
	position: absolute;
	z-index: 20;

}

.p1,
.p2{

	border-right:1px solid red;
	
}

.id1-content {
	position: relative;
	top: 50px;
	bottom: 0;
	width: 100%;
	overflow-y:hidden;
}

/* 	=============================
		IMAGES
	============================= */

.three-column img {
	margin-top: 20px;
	width: 60%;
}

/* 	=============================
		MEDIA QUERIES
	============================= */

@media screen and (max-width: 680px) {
	.container {
		width: 100%;
	}

	.content-left {
		width: 100%;
		margin-bottom: 3%;
	}

	.id1-content {
		position: relative;
		top: 50px;
		width: 100%;
		height: auto;
		overflow-y:hidden;
	}

	.p1 h1,
	.p2 h1,
	.p3 h1 {
		background-color: rgba(0,0,0,0);
		z-index: 10;

	}

	.p2 {
		overflow: hidden;
	}

	img.img-bottom1 {
		margin-bottom: 0px;
	}
	
	img.img-bottom2 {
		margin-bottom: 60px;
	}

}

@media screen and (max-width: 555px) {

	.p1,
	.p2,
	.p3 {
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-right:none;

	}

	.p2,
	.p3 {
		/*margin-top: 100px;*/
	}

	.p1 h1,
	.p2 h1,
	.p3 h1 {
		width: 100%;
		z-index: 10;
	
	}

	img.img-bottom1 {
		margin-bottom: 65px;
	}
	
	img.img-bottom3 {
		margin-bottom: 45px;
	}

}