/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	height: 100%;
	width: 100%;
	background-color: white;
}

/* 	======================
		TYPOGRAPHY
	======================*/

ul {
	padding: 5px;
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
}

a {
	padding: 5px;
}

h1 {
	font-size: 17px;
}

h2, a {
	font-family: 'Halant', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

h1 {
	font-family: 'Halant', serif;
	font-weight: 600;
	font-size: 18px;
}

.header h2 {
	font-weight: 600;
}

h2.date {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

h2.description,
h2.about,
.about a {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
}


/* 	======================
		NAV LEFT
	======================*/

.nav {
	float: left;
	width: 100%;
	margin-left: 0;
	border-bottom: 1px solid black;
	background-color: white;
}

.text {
	width: 40%;
}


.about {
	float: right;
	width: 40%;
}

.text li {
	margin-left: 20px;
}

.text a:link,
.text a:visited {
	color: black;
}

.text a {
	color: black;
}

.white {
	color: white;
}

#re-order {
	text-decoration: underline;
}

.work-links {
	padding-top: 10px;
	line-height: 23px;
	z-index: 20;
}

.about-proj {
	margin-top: 25px;
	color: rgba(0,0,0,0.45);
}

.about {
	margin-top: 20px;
}

/*  =======================
    MEDIA QUERIES
    ======================= */

@media screen and (max-width: 1111px) { 


}

@media screen and (max-width: 630px) { 


}

@media screen and (max-width: 520px) { 

}